.UserLogin{
    display: flex;
    justify-content: center;
    height:100vh ;
    width: 100vw;
   align-items: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   /* background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
   /* margin-left: 100px; */
   background-color: #5B8EFB;
    
    
}
.UserLogin form
{
    text-align: center;
    border:  2px solid white;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: linear-gradient(120deg,white);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-weight: bolder;
    background-color: #FFFFFF;
    margin: 40px 20px;
    padding: 40px 40px;
    
   
   
}
.UserLogin input{
    margin: 20px auto;
   border-radius: 10px;
    width: 230px;
    height: 35px;
}


.UserLogin input::placeholder{
    color:black;
    font-size: 15px;
    text-decoration-line: overline;

}
p a{
    font-size: 15px;
    text-decoration: none;
    color: blue;
    font-weight: bolder;
    

}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
span

  {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin-left: 8px;
  }




.button-87 {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #fff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition:box-shadow 0.15s ease, transform 0.15s ease;

}

.button-87:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
  
}

.button-87:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}